/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

:root {
	--blue-rgb: 26, 122, 255;
	--red-rgb: 249, 99, 132;
	--orange-rgb: 251, 159, 64;
	--yellow-rgb: 252, 204, 85;
	--green-rgb: 75, 192, 192;
	--purple-rgb: 153, 102, 255;
	--gray-rgb: 201, 203, 207;

	--clickwhale-preview-page-bg-color: #fdd231;
	--clickwhale-preview-text-color: #1a1c1d;
	--clickwhale-preview-link-bg-color: #fee06f;
	--clickwhale-preview-link-color: #1a1c1d;
	--clickwhale-preview-link-bg-hover: #ffffff;
	--clickwhale-preview-link-hover: #397eff;
}

body.toplevel_page_clickwhale-pro #wpbody-content,
body[class*="clickwhale_page_clickwhale-pro"] #wpbody-content,
body[class*="admin_page_clickwhale-pro-edit"] #wpbody-content {
	padding-top: 80px;
}

.clickwhale-statistics--item {
	background: #ffffff;
	border-radius: 10px;
	border: 1px solid #dddddd;
	padding: 1.5rem 1rem;
}

.clickwhale-statistics--item-header {
	margin: -1.5rem -1rem 1rem;
	padding: 1rem 1rem;
	border-bottom: 1px solid #dddddd;
	font-weight: 700;
	color: #727272;
}

.clickwhale-statistics--grid {
	display: grid;
	gap: 1rem;
	margin: 0 0 1rem 0;
}

.clickwhale-statistics--cards {
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.clickwhale-statistics--card {
	position: relative;
	padding: 1rem;
	font-size: .75rem;
}

.clickwhale-statistics--card p {
	margin: 0;
	padding: 0;
}

.clickwhale-statistics--card-value {
	position: relative;
	color: #999999;
}

.clickwhale-statistics--card-value h4 {
	margin: .5rem 0 0 0;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1em;
	color: #3c434a;
}

.clickwhale-statistics--card-value span {
	display: inline-block;
	margin: .5rem .25rem 0 0;
	font-size: .75rem;
	line-height: 1em;
	font-weight: bold;
}

.clickwhale-statistics--card-value::before,
.clickwhale-statistics--card-value::after {
	position: absolute;
	display: block;
	content: '';
	top: .5rem;
	right: .5rem;
}

.clickwhale-statistics--card-value.positive span,
.clickwhale-statistics--card-value.negative span {
	padding: 3px 7px;
	border-radius: 4px;
}

.clickwhale-statistics--card-value.positive span {
	color: rgb(var(--green-rgb));
	background-color: rgba(var(--green-rgb), .1);
}

.clickwhale-statistics--card-value.negative span {
	color: rgb(var(--red-rgb));
	background-color: rgba(var(--red-rgb), .1);
}

.clickwhale-statistics--card-value.positive::before {
	width: 6px;
	height: 6px;
	border: 2px solid rgb(var(--green-rgb));
	border-bottom: none;
	border-left: none;
}

.clickwhale-statistics--card-value.positive::after {
	width: 2px;
	height: 16px;
	background: rgb(var(--green-rgb));
	transform: rotate(45deg);
	transform-origin: center;
	right: calc(0.5rem + 6px);
	top: calc(0.5rem - 1px);
}

.clickwhale-statistics--card-value.negative::before {
	width: 8px;
	height: 8px;
	top: calc(.5rem + 5px);
	border: 2px solid rgb(var(--red-rgb));
	border-top: none;
	border-left: none;
}

.clickwhale-statistics--card-value.negative::after {
	width: 2px;
	height: 16px;
	background: rgb(var(--red-rgb));
	transform: rotate(135deg);
	transform-origin: center;
	right: calc(.5rem + 6px);
}

.clickwhale-statistics--charts {
	grid-template-columns: 2fr 1fr;
}

.clickwhale-statistics--chart-clicks {
	width: 100%;
	height: 500px;
}

.clickwhale-statistics--filters {
	display: grid;
	gap: 1rem;
	grid-template-columns: auto auto;
	align-items: flex-start;
	margin: 0 0 1rem
}

.clickwhale-statistics--filters h4 {
	margin: 6px 0 0 0;
}

.clickwhale-statistics--filter {
	display: flex;
	align-items: flex-start;
	gap: .5rem;
	flex-flow: row wrap;
}

.clickwhale-statistics--filter.filter-list select {
	width: 400px;
}

.clickwhale-statistics--filter .select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-bottom: 0;
}

.clickwhale-statistics--filter.filter-period {
	justify-content: flex-end;
}

.clickwhale-statistics--custom-period {
	display: none;
}

.clickwhale-statistics--custom-period.is-active {
	display: flex;
	flex-flow: row nowrap;
	gap: .25rem;
}

.clickwhale-statistics--custom-period input[type="text"],
.clickwhale-statistics--custom-period input[type="date"] {
	width: 150px;
	font-size: 13px;
}

.clickwhale-statistics {
	margin-top: 2rem;
}

.clickwhale-statistics---actions {
	display: flex;
	gap: 1rem
}

.clickwhale-statistics---action-compare[disabled] {
	opacity: .5;
	pointer-events: none;
}

.clickwhale-statistics--table {
	margin: 0 -1rem;
}

.clickwhale-statistics--table table {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.clickwhale-statistics--table table th,
.clickwhale-statistics--table table td {
	padding: .5rem .5rem;
	text-align: left;
}

.clickwhale-statistics--table table td {
	border-top: 1px solid #f7f7f7;
}

.clickwhale-statistics--table table th:first-child,
.clickwhale-statistics--table table td:first-child {
	padding-left: 1rem;
}

.clickwhale-statistics--table table th:last-child,
.clickwhale-statistics--table table td:last-child {
	padding-right: 1rem;
}

.clickwhale-statistics--table table td.statistics-table-actions {
	text-align: right;
}

.clickwhale-statistics--table table td.statistics-table-actions a,
.clickwhale-statistics--table table td.statistics-table-actions button {
	display: inline-flex;
	width: 24px;
	height: 24px;
	margin-left: .5rem;
	padding: 0;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	box-shadow: none;
	flex: 1;
	color: rgb(var(--blue-rgb))
}

.clickwhale-statistics--table table tr:not(.is-active) td.statistics-table-actions button[data-action="remove"],
.clickwhale-statistics--table table tr.is-active td.statistics-table-actions button[data-action="add"] {
	display: none;
}

.clickwhale-statistics--table table td.statistics-table-actions button[data-action="remove"] {
	color: rgb(var(--red-rgb));
}

.clickwhale-statistics--table table td.statistics-table-actions a:hover,
.clickwhale-statistics--table table td.statistics-table-actions button:hover {
	cursor: pointer;
	color: rgba(var(--blue-rgb), .5);
}

.clickwhale-statistics--table table td.statistics-table-actions svg {
	width: 16px;
	height: 16px;
	color: inherit;
}

.clickwhale-statistics--table table tr.is-hidden {
	display: none;
}

.clickwhale-statistics--table table tfoot {
	display: none;
	background: #f7f7f7;
}

.clickwhale-statistics--table table tfoot.is-visible {
	display: table-footer-group;
}

.clickwhale-statistics--table-chart {
	width: 180px;
	height: 20px
}

#lp-tab-styles {
	position: relative;
	padding-right: 400px;
}

tr.for_mode:not(.for_standard_mode) {
	display: none;
}

.clickwhale-styles-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
	gap: .5rem;
}

.clickwhale-style-item {
	display: flex;
}

.clickwhale-style-item input {
	display: none;
}

.clickwhale-style-item label {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	width: 100%;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.clickwhale-style-item:hover label,
.clickwhale-style-item input:checked ~ label {
	outline: 2px solid rgb(var(--blue-rgb));
	outline-offset: 1px;
}

.gradient-style-custom label {
	border: 2px dashed #dddddd;
	background: transparent;
}

.gradient-style-custom label:before {
	position: absolute;
	display: block;
	content: 'Custom';
	font-size: .75rem;
	line-height: 1em;
	pointer-events: none;
}

#bgGradientsCustomWrap {
	display: none;
}

.clickwhale-gradients-custom-grid {
	position: relative;
	display: flex;
	gap: .5rem;
	margin-top: 1.5rem;
}

.clickwhale-gradients-custom-grid p.description {
	margin: 0 0 .25rem 0;
}

.clickwhale-background-image select,
.clickwhale-gradients-custom-grid select {
	min-width: 150px;
}

.gradient-style-custom-preview {
	height: 55px;
	aspect-ratio: 16 / 9;
	border-radius: 5px;
}

.clickwhale-background-image {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
}

.background-field {
	position: relative;
	display: flex;
	width: 300px;
	height: 300px;
	border: 1px solid #ddd;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 5px;
}

.background-field img {
	display: block;
	width: 100%;
	padding: 0;
	border: none;
	border-radius: 3px;
}

.background-field .linkpage-image-remove {
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
}

.clickwhale-background-image--controls > div {
	margin-bottom: 1rem;
}

.clickwhale-background-image--controls > div p.description {
	margin: 0;
}

/* LINK PAGE PREVIEW STYLES */
.linkpage-preview--wrap {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: 380px;
	height: 100%;
	top: -1rem;
	right: 0;
	padding: 1rem;
}

.linkpage-preview--wrap * {
	box-sizing: border-box !important;
}

.linkpage-preview--wrap::before,
.linkpage-preview--wrap::after {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	bottom: 0;
	height: 100%;
	width: 0;
}

.linkpage-preview--wrap::before {
	left: 0;
	border-left: 1px solid #dcdcde;
}

.linkpage-preview--wrap::after {
	left: 1px;
	border-left: 1px solid #f6f7f7;
}

.linkpage-preview {
	position: sticky;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	top: 3rem;
	bottom: 0;
	height: 100%;
	max-height: 700px;
	padding: 3rem 1.25rem 1.25rem;
	overflow: hidden;
	border-radius: 30px;
	background: #ffffff;
	border: 5px solid #bbbbbb;
	text-align: center;
}

.linkpage-preview--top,
.linkpage-preview--bottom {
	width: 100%;
}

.linkpage-preview--logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 75px;
	margin: 0 auto;
}

.linkpage-preview--logo img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.linkpage-preview--logo img.rounded {
	border-radius: 10px;
}

.linkpage-preview--logo img.circle {
	border-radius: 50%;
}

.linkpage-preview--title {
	margin: 1rem 0 0 0;
	text-align: center;
	font-size: 2rem;
	line-height: 1em;
	font-weight: 700;
	color: var(--clickwhale-preview-text-color);
}

.linkpage-preview--description {
	margin: 0.5rem 0 0 0;
	text-align: center;
	font-size: 1.125rem;
	line-height: 1.2em;
	color: var(--clickwhale-text-color);
	opacity: .7;
}

.linkpage-preview--links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 100%;
	margin: 2rem 0 0 0;
}

.linkpage-preview-row {
	width: 100%;
}

.linkpage-preview-row > a {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	background-color: var(--clickwhale-preview-link-bg-color);
	border-radius: 10px;
	color: var(--clickwhale-link-color);
	font-size: .875rem;
	line-height: 1.2em;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: normal;
	padding: 0.75rem 0.75rem;
	transition: all .3s ease-in-out;
	text-align: center;
}

.linkpage-preview-row .linkpage-row--image {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 2rem;
	height: 2rem;
	flex: 1;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	font-size: 36px;
}

.linkpage-preview-row .linkpage-row--image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.linkpage-preview-row .linkpage-row--title--wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 4;
	min-height: 32px;
	text-align: center;
}

.linkpage-preview-row .linkpage-row--title {
	font-weight: 700;
}

.linkpage-preview-row .linkpage-row--end {
	max-width: 32px;
	flex: 1;
}

/* ----- Social Profiles ----- */

#lp-tab-social .form-table tr {
	background: #ffffff;
	border-bottom: 1px solid #f0f0f1;
}

#lp-tab-social .form-table th {
	position: relative;
	padding: 20px 10px 20px 58px;
}

#lp-tab-social .form-table th .linkpage-row--drag {
	position: absolute;
	left: 6px;
	top: 6px;
}

#lp-tab-social .form-table td {
	padding: 15px 15px 15px 10px;
}

#lp-tab-social .form-table td input {
	width: 100%;
}

#lp-tab-social .form-table tr.ui-state-highlight {
	background: transparent;
	height: 60px;
}

/* ---------- */


@media (max-width: 1600px) {
	.clickwhale-statistics--chart-clicks {
		width: 100%;
		height: 400px;
	}
}

@media screen and (max-width: 782px) {
	.clickwhale-statistics--filters,
	.clickwhale-statistics--charts {
		grid-template-columns: 100%;
	}

	.clickwhale-statistics--filter.filter-period {
		justify-content: flex-start;
	}
}

@media screen and (max-width: 782px) {
	#lp-tab-styles {
		padding-right: 0;
	}

	.linkpage-preview--wrap {
		display: none;
	}
}

@media (max-width: 768px) {
	body.toplevel_page_clickwhale-pro #wpbody-content,
	body[class*="clickwhale_page_clickwhale-pro"] #wpbody-content,
	body[class*="admin_page_clickwhale-pro-edit"] #wpbody-content {
		padding-top: 180px;
	}
}