/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.slug-input--wrap {
	position: relative;
}

.slug-input--wrap input {
	width: 100%;
	padding-right: 30px;
}

.slug-input--btn {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	right: 2%;
	top: 5px;
	color: #bbbbbb;
}

.clickwhale-notice span {
	margin-right: 20px;
}

.clickwhale-migration-section {
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.clickwhale-migration-section h2 {
	margin: 0 0 1em 0;
}

.clickwhale-migration-section .spinner {
	float: none;
}

.clickwhale-migration-section .results {
	display: none;
	background: #ffffff;
	padding: 20px;
	margin: 20px 0 0;
	border-radius: 4px;
}

.clickwhale-migration-section .results.is-active {
	display: block;
}

.clickwhale-migration-section .results h3 {
	margin: 0 0 10px;
}

.clickwhale-migration-section .results p {
	margin: 0 0 10px;
}

.clickwhale-migration-section .results p:last-of-type {
	margin-bottom: 0;
}

#clickwhale-tools-migration-reset .spinner {
	float: none;
}

#clickwhale-tools-migration-reset .results {
	display: inline-block;
	vertical-align: middle;
	font-style: italic;
	margin: 4px 10px 0;
}

.clickwhale-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #FDD231;
	padding: 1.5em 2em;
	margin-left: -20px;
}

.clickwhale-banner--logo img {
	display: block;
	width: 120px;
	height: auto;
	margin-top: -17px;
}

.clickwhale-banner--links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.clickwhale-banner--links a {
	font-size: 14px;
	line-height: 1em;
	font-weight: 700;
	color: #242424;
	transition: all .3s ease-in-out;
	text-decoration: underline;
}

.clickwhale-banner--links a:hover {
	text-decoration: none;
}

.clickwhale-banner--links a.clickwhale-banner--button {
	padding: 12px 20px;
	color: #ffffff;
	background-color: #007AFF;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
}

.clickwhale-banner--links a:hover {
	color: #007AFF;
}

.clickwhale-banner--links a.clickwhale-banner--button:hover {
	background-color: #ffffff;
	color: #007AFF;
}

.clickwhale-banner--link-review--raiting {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.clickwhale-banner--link-review span.dashicons {
	position: relative;
	font-size: 16px;
	line-height: 1em;
	top: 2px;
}

.linkpage-logo-upload img {
	max-width: 150px;
	display: block;
	height: auto;
}

.links-list-wrap {
	position: relative;
	display: flex;
	gap: 5px;
	flex-direction: column;
	margin-top: 10px;
	max-width: 95%;
}

.add-links-wrap {
	display: flex;
	gap: 10px;
	max-width: 95%;
}

.add-links-wrap select,
.add-links-wrap input,
.add-links-wrap button {
	width: 100%;
	max-width: 100%;
}

.add-links-type-wrap {
	flex: 1;
}

.add-links-inputs-wrap {
	flex: 3;
}

.custom-links-action-wrap {
	display: flex;
	flex-flow: row wrap;
	gap: 5px;
}

.custom-links-action-wrap input {
	flex: 1;
}

.linkpage-row {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px;
	border: 1px solid #dcdcde;
	border-radius: 5px;
	gap: 5px;
	background: #ffffff;
}

.linkpage-row.ui-sortable-helper {
	cursor: move;
	box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}

.linkpage-row--drag {
	cursor: move;
}

.linkpage-row--remove {
	cursor: pointer;
}

.linkpage-row--drag,
.linkpage-row--remove {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2px;
	width: 32px;
	height: 32px;
	background-color: #ffffff;
	border-radius: 5px;
}

.linkpage-row--remove {
	gap: 0;
}

.linkpage-row--drag::before,
.linkpage-row--drag::after,
.linkpage-row--remove::before,
.linkpage-row--remove::after {
	position: relative;
	display: block;
	width: 10px;
	height: 1px;
	background-color: #141414;
	content: '';
}

.linkpage-row--remove::before {
	transform: rotate(45deg);
	top: 1px;
}

.linkpage-row--remove::after {
	transform: rotate(-45deg);
}

.linkpage-link,
.linkpage-link--title {
	flex: 1;
}

.linkpage-link span {
	display: block;
	font-size: 12px;
	opacity: .7;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 400px;
	overflow: hidden;
}

.linkpage-link--title input[type="text"] {
	width: 100%;
}

.linkpage-row--remove:hover {
	background-color: red;
}

.linkpage-row--remove:hover::before,
.linkpage-row--remove:hover::after {
	background-color: #ffffff;
}

.links-list-wrap .ui-state-highlight {
	height: 44px;
	border: 1px dashed #dcdcde;
}

.select2-container .select2-selection--single {
	height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 30px;
}

.select2-results__option {
	margin: 0;
}

.select2-container--default .select2-selection--multiple {
	padding-bottom: 0
}

.row--custom_link .linkpage-link {
	display: flex;
	gap: 4px;
}

.row--custom_link .linkpage-link input {
	width: 100%;
	max-width: 100%;
}

.unavailable-link {
	border-color: #dc3232;
	background: #ffebee;
}

.unavailable-link * {
	color: rgba(0, 0, 0, .3) !important;
	opacity: 1 !important;
}

.unavailable-link input {
	pointer-events: none !important;
	opacity: .5 !important;
}

.links-info {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 10px 38px 10px 12px;
	background: #ffffff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	border-left-color: #72aee6;
	box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
	color: #1a1a1a;
	text-align: left;
	font-size: 13px;
	line-height: 1em;
	box-sizing: border-box;
}

td > .links-info {
	max-width: 95%;
}

.clickwhale-tabs ul {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	border-bottom: 1px solid #c3c4c7;
	margin: 0;
	padding-top: 9px;
	padding-bottom: 0;
	line-height: inherit;
}

.clickwhale-tabs ul > li {
	position: relative;
	margin: 0 0 0 .5em;
	padding: 0;
	z-index: 1;
	bottom: -1px;
}

.clickwhale-tabs ul > li > a {
	display: block;
	border: 1px solid #c3c4c7;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.71428571;
	font-weight: 600;
	background: #dcdcde;
	color: #50575e;
	text-decoration: none;
	white-space: nowrap;
	outline: none !important;
}

.clickwhale-tabs ul > li > a:hover,
.clickwhale-tabs ul > li > a:focus {
	background: #ffffff;
	outline: none !important;
	box-shadow: none;
}

.clickwhale-tabs ul > li.ui-tabs-active > a {
	border-bottom: 1px solid #f0f0f1;
	background: #f0f0f1;
	color: #000;
}

.clickwhale-linkpage--message {
	background: #e2e3e5;
	border: 1px solid #d3d6d8;
	margin: 5px 0 15px;
	padding: 1rem 1.5rem;
	border-radius: 4px;
	max-width: 800px;
	color: #41464b;
}

#form_edit_link .error,
#form_edit_linkpage .error {
	border-color: #dc3232;
	background: #ffebee;
}

#cw-slug--description {
	color: #dc3232;
}

.linkpages .column-links,
.linkpages .column-clicks_count,
.linkpages .column-views_count {
	width: 10%;
	text-align: left;
}

#form_edit_tracking_code .CodeMirror-sizer {
	min-height: 300px !important;
}

#form_edit_tracking_code .CodeMirror-sizer::before,
#form_edit_tracking_code .CodeMirror-sizer::after {
	color: #bbb;
	display: block;
	font-size: 13px;
}

#form_edit_tracking_code .CodeMirror-sizer::before {
	content: "<!-- begin code -->";
	padding-bottom: 5px;
}

#form_edit_tracking_code .CodeMirror-sizer::after {
	position: absolute;
	content: "<!-- end code -->";
	bottom: 0;
	padding-top: 5px;
}

table.tracking-codes .column-is_active {
	width: 50px;
}

.clickwhale-checkbox--toggle {
	display: inline-block;
	height: 20px;
	position: relative;
	width: 36px;
}

.clickwhale-checkbox--toggle input {
	display: none;
	height: 0;
	opacity: 0;
	width: 0;
}

.clickwhale-checkbox--toggle .clickwhale-checkbox--toggle-slider {
	background-color: #ccc;
	border-radius: 20px;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s ease-in;
}

.clickwhale-checkbox--toggle .clickwhale-checkbox--toggle-slider::before {
	background-color: white;
	border-radius: 50%;
	bottom: 3px;
	content: "";
	height: 14px;
	left: 3px;
	position: absolute;
	transition: all .3s ease-in;
	width: 14px;
}

.clickwhale-checkbox--toggle input:checked + .clickwhale-checkbox--toggle-slider {
	background: #007AFF;
}

.clickwhale-checkbox--toggle input:checked + .clickwhale-checkbox--toggle-slider::before {
	left: 19px;
}

.cw-posts-row--select {
	display: none;
	margin-bottom: 15px;
}

@media (max-width: 768px) {
	.clickwhale-banner {
		flex-direction: column;
		gap: 15px;
		padding: 10px 30px;
		margin: 0 0 0 -10px;
	}

	.clickwhale-banner--logo img {
		margin-top: 0;
	}

	.clickwhale-banner--links {
		flex-direction: column;
		margin: 0 -10px;
	}

	.clickwhale-banner--link-review {
		text-align: center;
	}

	.clickwhale-banner--link-review--raiting {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row nowrap;
		margin-top: 5px;
	}

	.clickwhale-banner--links a.clickwhale-banner--button {
		width: 100%;
	}
}