/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
body > in1put{
    position: absolute;
    opacity: 0;
}
 .slug-input--wrap{
     position: relative;
 }
 .slug-input--wrap input{
     width: 100%;
     padding-right: 30px;
 }
 .slug-input--btn{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 2%;
    top: 5px;
    color: #bbbbbb;
}

.clickwhale-notice span{
    margin-right: 20px;
}

.submit .button{
    margin-right: 10px;
    margin-bottom: 10px;
}

.clickwhale_migration_results{
    background: #ffffff;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 4px;
}

.clickwhale_migration_results h3{
    margin: 0 0 10px;
}

.clickwhale_migration_results p{
    margin: 0 0 10px;
}
.clickwhale_migration_results p:last-of-type{
    margin-bottom: 0;
}